
body {
  font-family: Helvetica, sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}


h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #CC3333;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #000000;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

table th,
table td {
  border: 3px solid #000000;
  padding: 0.5em 1em;
  text-align: left;
}

table th {
  background-color: #ffffff;
  color: #222;
}


a {
  color: #CC3333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


input[type="text"] {
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #CC3333;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 0.5em;
}

button:hover {
  background-color: #cc5b5b;
}


.container {
  max-width: 800px;
  margin: 0 auto;
}