
body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  background: #FFFFFF;
  color: #000000;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
  background-color: #CC3333;
  padding: 30px;
  color: #FFFFFF;
  user-select: none;
}

.container > a {
  text-decoration: none;
  color: inherit;
}

.image-container {
  width: 300px;
  height: 200px;
  margin: 20px auto; /* centers the container */
  position: relative;
  overflow: hidden;
  z-index: 10; 
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}

img.active {
  opacity: 1;
  transform: translateX(0);
}

img.prev {
  transform: translateX(-100%);
  opacity: 0;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #000;
}

        .ticker-container {
            position: fixed;
            top: 70%;
            left: 0;
            right: 0;
            font-family: sans-serif;
            box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);
            overflow: hidden;
        }
        
        .ticker-container ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            animation: scroll 10s linear infinite;
        }
        
        .ticker-container ul li {
            white-space: nowrap;
            padding: 10px 24px;
        }
        
        @keyframes scroll {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-50%);
            }
        }
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

table th,
table td {
  border:
  padding: 0.5em 1em;
  text-align: left;
  font-weight: bolder;
}

table th {
  background-color: #ffffff;
  color: #222;
}


a {
  color: #CC3333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type="text"] {
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

button {
  font-size: 1em;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 0.5em;
}

button:hover {
  background-color: #cc5b5b;
}

footer {
    margin-top: 200px; 
    
}

.topnav {
  display: flex;
  justify-content: space-between;
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  background-color: #FFFFFF;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #CC3333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #CC3333;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}